# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules/

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# dotenv environment variables file
.env
.env.test

# Local storage / Hypercore
storage/
userData/
wormhole/
dist/
dist-electron/

.vibes/
cLLM-snapshots/
temp/
Snapshot-state/
docs/.mind/

# OS
Thumbs.db
.DS_Store
